{% extends 'base.html' %}

{% block body %}

<div class="one-half column" style="margin-top: 10%">
{% if is_json %}

    <p>From: <a href="mailto: {{ msg.from }}"> {{ msg.from }}</a></p>
    <p>To: <a href="mailto:{{ msg.to }}">{{ msg.to }}</a></p>
    {% if msg.cc %}
    <p>cc: {{ msg.cc }}</p>
    {% endif %}
    {% if msg.bcc %}
    <p>bcc: {{ msg.bcc }}</p>
    {% endif %}

    <p>Date: {{ msg.date }}</p>

    <p><b>Subject: {{ msg.subject }}</b></p>

    <p>{{ msg.body|safe }}</p>

{% else %}
    {{ msg|safe }}
{% endif %}
</div>

{% endblock body %}